/*(0,0,1) */
body {
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.4;
    font-size: 1.2em;
    color: #454545;
    background-color: whitesmoke;
}

/*(0,0,1)*/
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

/*(0,0,1)*/
img {
    max-width: 100%;
    height: auto;
}
/*(0,0,1)*/
footer {
    text-align: center;
    margin-top: 1em;
}
/*(0,0,2)*/
footer img {
    margin: 0.5em;
}

/*(0,0,1)*/
a {
    color: #07a;
    background-color: inherit;
}

/*(0,0,1)*/
table {
    border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

/*(0,0,1)*/
td, th {
  text-align: left;
  padding: 8px;
}

/*(0,0,1)*/
th {
    border-bottom: 0.15em solid #454545
}
/*(0,1,2)*/
tr:nth-child(even) {
  background-color: #dddddd;
  color: inherit;
}

/*(0,0,1)*/
video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    max-width: 40%;
    height: auto;
}

