
body {
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.4;
    font-size: 1.2em;
    color: #454545;
    background-color: aliceblue;
}

article {
    margin: 1.5em;
    line-height: 1.4;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 40%;
    background-color: white;
    color: #454545;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

h2 {
    text-decoration: underline;
}

a {
    color: #07a;
    background-color: inherit;
}

footer {
    text-align: right;
}

main {
    display: flex;
    flex-wrap: wrap;
}
