body {
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.4;
    font-size: 1.2em;
    color: #454545;
    background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    margin-top: 1em;
}

footer img {
    margin: 0.5em;
}

a {
    color: #07a;
    background-color: inherit;
}
table {
    border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

td, th {
  text-align: left;
  padding: 8px;
}

th {
    border-bottom: 0.15em solid #454545
}

tr:nth-child(even) {
  background-color: #dddddd;
  color: inherit;
}
video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    max-width: 40%;
    height: auto;
}

